# Weeks 9 & 10

- Joshua Burden
- Bellevue University
- DSC540 Data Preparation
- Cathrine Williams
- 08/07/2022


### Complete the following exercises. You can submit a Jupyter Notebook or a PDF of your code. If you submit a .py file you need to also include a PDF or attachment of your results.

# Task 1: (Connect to the supplied petsDB, and write a function to check if the connection is done)
# Retrieving Data Correctly from databases

In [6]:
# Step 1: Connect to petsdb and check if connection is successful
import sqlite3
conn = sqlite3.connect('petsdb')

In [7]:
# function to check if connection is successful
def connection_status(conn):
    try:
        conn.execute("SELECT 1 FROM persons")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection is Closed-",e)
        return False
    except Exception as e:
        print("Other Error-",e)
        return False

print("Database connection good ?",connection_status(conn))

Database connection good ? True

# Task 2: (What are the different age groups in the persons database)

### Checking all the tables in the db

In [12]:
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('persons',), ('pets',)]

### Checking table structure and data types - persons

In [13]:
cursor.execute("PRAGMA table_info([persons])")
print(cursor.fetchall())

[(0, 'id', 'INTEGER', 0, None, 0), (1, 'first_name', 'TEXT', 0, None, 0), (2, 'last_name', 'TEXT', 0, None, 0), (3, 'age', 'INTEGER', 0, None, 0), (4, 'city', 'TEXT', 0, None, 0), (5, 'zip_code', 'INTEGER', 0, None, 0)]

### Checking table structure and data types - pets

In [14]:
cursor.execute("PRAGMA table_info([pets])")
print(cursor.fetchall())

[(0, 'owner_id', 'INTEGER', 0, None, 0), (1, 'pet_name', 'TEXT', 0, None, 0), (2, 'pet_type', 'REAL', 0, None, 0), (3, 'treatment_done', 'INTEGER', 0, None, 0)]

### Step 2: Find the different age groups in the persons database

In [20]:
for pplCnt, ageGroup in cursor.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("There are {} people within the age of {}".format(pplCnt,ageGroup))

There are 2 people within the age of 5
There are 1 people within the age of 6
There are 1 people within the age of 7
There are 3 people within the age of 8
There are 1 people within the age of 9
There are 2 people within the age of 11
There are 3 people within the age of 12
There are 1 people within the age of 13
There are 4 people within the age of 14
There are 2 people within the age of 16
There are 2 people within the age of 17
There are 3 people within the age of 18
There are 1 people within the age of 19
There are 3 people within the age of 22
There are 2 people within the age of 23
There are 3 people within the age of 24
There are 2 people within the age of 25
There are 1 people within the age of 27
There are 1 people within the age of 30
There are 3 people within the age of 31
There are 1 people within the age of 32
There are 1 people within the age of 33
There are 2 people within the age of 34
There are 3 people within the age of 35
There are 3 people within the age of 36
There are 1 people within the age of 37
There are 2 people within the age of 39
There are 1 people within the age of 40
There are 1 people within the age of 42
There are 2 people within the age of 44
There are 2 people within the age of 48
There are 1 people within the age of 49
There are 1 people within the age of 50
There are 2 people within the age of 51
There are 2 people within the age of 52
There are 2 people within the age of 53
There are 2 people within the age of 54
There are 1 people within the age of 58
There are 1 people within the age of 59
There are 1 people within the age of 60
There are 1 people within the age of 61
There are 2 people within the age of 62
There are 1 people within the age of 63
There are 2 people within the age of 65
There are 2 people within the age of 66
There are 1 people within the age of 67
There are 3 people within the age of 68
There are 1 people within the age of 69
There are 1 people within the age of 70
There are 4 people within the age of 71
There are 1 people within the age of 72
There are 5 people within the age of 73
There are 3 people within the age of 74

### Step 3: Find the age group that has maximum number of people

### ordering the above query by descending count. So the top will be the max

In [21]:
for pplCnt, ageGroup in cursor.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("Highest number of people {} came from {} age group".format(pplCnt,ageGroup))
    break

Highest number of people 5 came from 73 age group

### Step 4: Find the people who do not have last name

### Count of people who do not have last name

In [22]:
for result in cursor.execute("SELECT count(*) FROM persons where last_name is null"):
    print("People Count with No Last Name - ",result)
    break

People Count with No Last Name -  (60,)

### First name of people with no last name

In [24]:
for result in cursor.execute("SELECT first_name FROM persons where last_name is null"):
    print("First Names of people with No Last Name - ",result)

First Names of people with No Last Name -  ('Erica',)
First Names of people with No Last Name -  ('Jordi',)
First Names of people with No Last Name -  ('Chasity',)
First Names of people with No Last Name -  ('Gregg',)
First Names of people with No Last Name -  ('Cary',)
First Names of people with No Last Name -  ('Francisca',)
First Names of people with No Last Name -  ('Raleigh',)
First Names of people with No Last Name -  ('Maria',)
First Names of people with No Last Name -  ('Mariane',)
First Names of people with No Last Name -  ('Mona',)
First Names of people with No Last Name -  ('Kayla',)
First Names of people with No Last Name -  ('Karlie',)
First Names of people with No Last Name -  ('Morris',)
First Names of people with No Last Name -  ('Sandy',)
First Names of people with No Last Name -  ('Hector',)
First Names of people with No Last Name -  ('Hiram',)
First Names of people with No Last Name -  ('Tressa',)
First Names of people with No Last Name -  ('Berry',)
First Names of people with No Last Name -  ('Pearline',)
First Names of people with No Last Name -  ('Maynard',)
First Names of people with No Last Name -  ('Dorian',)
First Names of people with No Last Name -  ('Mylene',)
First Names of people with No Last Name -  ('Lafayette',)
First Names of people with No Last Name -  ('Tara',)
First Names of people with No Last Name -  ('Destiny',)
First Names of people with No Last Name -  ('Lesly',)
First Names of people with No Last Name -  ('Perry',)
First Names of people with No Last Name -  ('Maritza',)
First Names of people with No Last Name -  ('Grant',)
First Names of people with No Last Name -  ('Laury',)
First Names of people with No Last Name -  ('Name',)
First Names of people with No Last Name -  ('Estefania',)
First Names of people with No Last Name -  ('Destiney',)
First Names of people with No Last Name -  ('Jaquelin',)
First Names of people with No Last Name -  ('Alfonzo',)
First Names of people with No Last Name -  ('Lisandro',)
First Names of people with No Last Name -  ('Priscilla',)
First Names of people with No Last Name -  ('Elenora',)
First Names of people with No Last Name -  ('Rudolph',)
First Names of people with No Last Name -  ('Ona',)
First Names of people with No Last Name -  ('Rebeca',)
First Names of people with No Last Name -  ('Sigurd',)
First Names of people with No Last Name -  ('Alice',)
First Names of people with No Last Name -  ('Dane',)
First Names of people with No Last Name -  ('Judge',)
First Names of people with No Last Name -  ('Allene',)
First Names of people with No Last Name -  ('Jalen',)
First Names of people with No Last Name -  ('Myron',)
First Names of people with No Last Name -  ('Travon',)
First Names of people with No Last Name -  ('Shayna',)
First Names of people with No Last Name -  ('Myah',)
First Names of people with No Last Name -  ('Letha',)
First Names of people with No Last Name -  ('Felton',)
First Names of people with No Last Name -  ('London',)
First Names of people with No Last Name -  ('Koby',)
First Names of people with No Last Name -  ('Golden',)
First Names of people with No Last Name -  ('Anissa',)
First Names of people with No Last Name -  ('Sid',)
First Names of people with No Last Name -  ('Ernesto',)
First Names of people with No Last Name -  ('Josianne',)

### Step 5: Find people who have more than one pet
### This is all counts of pets for > 1

In [25]:
cursor.execute("SELECT count(owner_id) FROM  pets GROUP BY owner_id HAVING count(owner_id) > 1")
print(cursor.fetchall())

[(3,), (3,), (2,), (3,), (2,), (3,), (2,), (2,), (2,), (2,), (2,), (3,), (2,), (3,), (2,), (5,), (2,), (2,), (3,), (3,), (3,), (4,), (2,), (2,), (4,), (3,), (3,), (2,), (2,), (2,), (3,), (3,), (2,), (5,), (3,), (2,), (3,), (3,), (2,), (2,), (3,), (3,), (2,)]

### add up all the results from previous query

In [26]:
for result in cursor.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM  pets GROUP BY owner_id HAVING count(owner_id) > 1)"):
    print("People Count with more than 1 PET -", result)
    break

People Count with more than 1 PET - (43,)

### Step 6: Find out how many pets have recieved treatments
### checking distinct values of treatment_done column

In [38]:
cursor.execute("SELECT DISTINCT(treatment_done) FROM pets")
print(cursor.fetchall())

[(0,), (1,)]

### based on answer from above query assuming treatment_done =1  means treatment has been done

In [40]:
for result in cursor.execute("SELECT count(*) FROM pets WHERE treatment_done=1"):
    print("Count of Pets with treatment -", result)
    break

Count of Pets with treatment - (36,)

### Step 7: Find out how many pets have recieved treatments and the type of pet is known

### adding additional where clause for pet type not null

In [41]:
for result in cursor.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type is not null"):
    print("Count of Pets with treatment -", result)
    break

Count of Pets with treatment - (16,)

### Step 8: Find out how many pets are from the city call east port

### we will need to join the table from person as city information is available in owners data

In [42]:
for result in cursor.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id where persons.city='east port'"):
    print("Count of Pets from east port -", result)
    break

Count of Pets from east port - (49,)

### Step 9: Find out how many pets are from the city call east port and who recieved a treatment

### adding check for pets.treatment_done = 1 to the above query

In [43]:
for result in cursor.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id where persons.city='east port' AND pets.treatment_done=1"):
    print("Count of Pets from east port -", result)
    break

Count of Pets from east port - (11,)